/* Grill */
.grill_scene {
    position: relative;
    width: 600px;
    height: 400px;
}
#grill {
    position: absolute;
    left: 900px;
    top: 400px;
    width: 300px;
}
#smoke {
    position: absolute;
    left: 1000px;
    top: 300px;
    width: 150px;
    z-index: 2;
}

/* Grass*/
.grass {
    position: absolute;
    top: 80px;
}

#flag {
    position: relative;
    width: 200px;
    top: 70px;
    left: -200px;
    animation: circle 2.4s ease-in-out infinite; will-change: transform, opacity;
}




#cornhole {
    position: relative;
    top: 170px;
    left: -200px;
    width: 100px;

}
#dog {
    position: relative;
    top: 400px;
    left: 300px;
    width: 100px;
}

#family1 {
    position: relative;
    top: 70px;
    width: 100px;
}
#family2 {
    position: relative;
    top: 70px;
    width: 100px;
}
#decor1 {
    position: relative;
    top: 180px;
    left: -210px;
    width: 160px;
}

#decor2 {
    position: relative;
    top: 120px;
    left: 12px;
    width: 75px;
}

#sprinkler {
    position: relative;
    top: 200px;
    left: -150px;
    width: 100px;
}
#child1 {
    position: relative;
    top: 150px;
    left: 50px;
    width: 100px;

}
#child2 {
    position: relative;
    top: 150px;
    left: 2px;
    width: 100px;
}

/* Sky */
.sky{ 
    position: relative;
    top: 40px;

}
#firefly1 {
    position: relative;
    top: 100px;
    left: 20px;
    width: 40px;
}

#firefly2 {
    position: relative;
    top: 50px;
    left: 300px;
    width: 40px;
}
#firefly3 {
    position: relative;
    top: 80px;
    left: 600px;
    width: 40px;
}

@keyframes circle { 
    0% { 
        transform: scale(0.4)
    } 
    25% { 
        transform: scale(0.8) 
    } 
    50% { 
        transform: scale(1.3) 
    } 
    75% { 
        transform: scale(0.9)
    } 
    100% {
         transform: scale(0.4)
         
    }
} 

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 40%;
    background-color: lightblue;
    text-align: center;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    background-color: lightseagreen;
}

.container {
    padding: 2px 16px;
}
